# Описание


x1 = "верхний левый угол"  
y1 = "верхний левый угол"  
x2 = "верхний правый угол"  
y2 = "верхний правый угол"  
x3 = "нижний правый угол"  
y3 = "нижний правый угол"  
x4 = "нижний левый угол"  
y4 = "нижний левый угол"  
elevation = "высота"  
inclination = "максимальный угол наклона"  
temp = "температура"  
pressure = "давление"  
humidity = "влажность"  
wind_speed = "скорость ветра"  
wind_gust = "порыв ветра"  
clouds = "облачность"  
weather = "тип погоды"  
bdod =   
cec =   
cfvo =   
clay =   
nitrogen =   
ocd =  
ocs =  
phh2o =  
sand =  
silt =  
soc =  
score =

# Создание модели

In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

Пока что с высотой и углом наклона не работаем

In [27]:
train_df1 = pd.read_pickle("./sample_data/vineyard6.pickle")
train_df1 = pd.DataFrame.from_dict(train_df1.values())
print(train_df1)

           x1         y1        x2         y2        x3         y3        x4  \
0    7.938728  44.651236  7.940978  44.651236  7.938728  44.653486  7.940978
1    7.940978  44.651236  7.943228  44.651236  7.940978  44.653486  7.943228
2    7.943228  44.651236  7.945478  44.651236  7.943228  44.653486  7.945478
3    7.945478  44.651236  7.947728  44.651236  7.945478  44.653486  7.947728
4    7.947728  44.651236  7.949978  44.651236  7.947728  44.653486  7.949978
..        ...        ...       ...        ...       ...        ...       ...
763  7.981478  44.581486  7.983728  44.581486  7.981478  44.583736  7.983728
764  7.983728  44.581486  7.985978  44.581486  7.983728  44.583736  7.985978
765  7.985978  44.581486  7.988228  44.581486  7.985978  44.583736  7.988228
766  7.988228  44.581486  7.990478  44.581486  7.988228  44.583736  7.990478
767  7.990478  44.581486  7.992728  44.581486  7.990478  44.583736  7.992728

            y4  elevation   temp  ...            clay        nitrogen  \
0    44.653486        264  26.11  ...  {'0-5cm': 266}  {'0-5cm': 374}
1    44.653486        252  26.11  ...  {'0-5cm': 266}  {'0-5cm': 374}
2    44.653486        255  26.72  ...  {'0-5cm': 283}  {'0-5cm': 346}
3    44.653486        263  26.72  ...  {'0-5cm': 285}  {'0-5cm': 299}
4    44.653486        249  26.72  ...  {'0-5cm': 285}  {'0-5cm': 299}
..         ...        ...    ...  ...             ...             ...
763  44.583736        446  26.72  ...  {'0-5cm': 249}  {'0-5cm': 379}
764  44.583736        410  26.72  ...  {'0-5cm': 266}  {'0-5cm': 392}
765  44.583736        417  26.72  ...  {'0-5cm': 266}  {'0-5cm': 419}
766  44.583736        424  26.72  ...  {'0-5cm': 266}  {'0-5cm': 419}
767  44.583736        381  26.72  ...  {'0-5cm': 267}  {'0-5cm': 370}

                ocd             ocs          phh2o            sand  \
0    {'0-5cm': 425}  {'0-30cm': 49}  {'0-5cm': 75}  {'0-5cm': 301}
1    {'0-5cm': 425}  {'0-30cm': 49}  {'0-5cm': 75}  {'0-5cm': 301}
2    {'0-5cm': 406}  {'0-30cm': 43}  {'0-5cm': 76}  {'0-5cm': 292}
3    {'0-5cm': 411}  {'0-30cm': 42}  {'0-5cm': 76}  {'0-5cm': 291}
4    {'0-5cm': 411}  {'0-30cm': 42}  {'0-5cm': 76}  {'0-5cm': 291}
..              ...             ...            ...             ...
763  {'0-5cm': 428}  {'0-30cm': 51}  {'0-5cm': 73}  {'0-5cm': 301}
764  {'0-5cm': 416}  {'0-30cm': 51}  {'0-5cm': 74}  {'0-5cm': 297}
765  {'0-5cm': 423}  {'0-30cm': 52}  {'0-5cm': 72}  {'0-5cm': 298}
766  {'0-5cm': 423}  {'0-30cm': 52}  {'0-5cm': 72}  {'0-5cm': 298}
767  {'0-5cm': 415}  {'0-30cm': 53}  {'0-5cm': 74}  {'0-5cm': 291}

               silt             soc   degress inclination
0    {'0-5cm': 433}  {'0-5cm': 475}  6.842773    6.842773
1    {'0-5cm': 433}  {'0-5cm': 475}       NaN   13.495733
2    {'0-5cm': 424}  {'0-5cm': 427}       NaN   11.309932
3    {'0-5cm': 424}  {'0-5cm': 375}       NaN    6.390495
4    {'0-5cm': 424}  {'0-5cm': 375}       NaN    7.744711
..              ...             ...       ...         ...
763  {'0-5cm': 450}  {'0-5cm': 484}       NaN   16.066401
764  {'0-5cm': 437}  {'0-5cm': 436}       NaN   16.066401
765  {'0-5cm': 436}  {'0-5cm': 458}       NaN   21.801409
766  {'0-5cm': 436}  {'0-5cm': 458}       NaN   22.195460
767  {'0-5cm': 443}  {'0-5cm': 443}       NaN   18.983217

[768 rows x 29 columns]

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d